*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: oldlace ;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
 }
 .nav-main{
     font-size: 17px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 80px;
     padding: 40px 0;
     background: #a0f42b;
 }
 .nav-brand{
     width: 300px;
 }
 /*NAV IZQUIERDA*/
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding:  10px;
    font-size: 25px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid black;
}
.nav-main ul li a:hover{
    padding: 15px;
}
.nav-main ul.nav-menu{
    flex: 1;
    /*margin-left: 20px;*/
}
/*IMPACTOS*/
hr{
    margin: 5px 0;
}
.showcase{
    color: #ffffff;
    width: 100%;
    height: 550px;
    background: url("./img/fondo4.jpg") no-repeat center center/cover;
    margin-bottom: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.showcase2{
    color: #ffffff;
    width: 100%;
    height: 400px;
    background: url("./img/fondo3.jpg") no-repeat center center/cover;
    margin-bottom: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.btn{
    display:  inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid#ffffff;
    margin: 10px 0;
}
.btn:hover{
    opacity: .7;
}
.showcase h2{
    font-size: 40px;
}
.showcase p{
    margin-bottom: 10px;
    margin-right: 20%;
    margin-left: 20%;
    align-content: center;
    font-size: 15px;
}
/* SECCION DE NOTICIAS */
.imp-nature{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.imp-nature img{
    width: 100%;
    height:180px;
    color: black;
    margin: 10px 0;
    border: black;

}

.imp-nature h2{
    font-size: 20px;
    margin: 10px 0;
    color: black;
    z-index: 1;
    text-transform: uppercase;
}
.imp-nature a{
    padding: 15px 0;
    color: cornflowerblue;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}
.imp-nature p{
    color: black;
    font-size: 15px;
    margin: 10px ;
    justify-content: center;
}
.imp-nature a:hover{
    text-decoration: underline;
}
.showmetod{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 25px;
    margin: 10px 0;
}
.showmetod h2{
    font-size: 25px;
    margin: 10px 0;
    color: black;
    text-align: center;
}
.showmetod img{
    width: 100px;
    height:100px;
    color: black;
    margin: auto;
    display: block;
    border: black;
}
.btn2{
    display: inline-flex;
    align-items: center;
    padding: 10px 10px 10px 3px;
    border-radius: 10px;
    text-transform: none;
    transition: color 0.3ms, background-color 0.3ms;
    cursor: pointer;
    outline: black;
    margin: 10px;
    top: 30%;
    left: 60%;
}
.btn2:hover{
    color: white;
    background-color: #262626;
    opacity: .7
}
.container-all{
    width: 90%;
    height: 90%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}
.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: absolute;
    display: flex;
    background: #eaeaea;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, -230%);
    transition: all 600ms;
}

.pop-img1{
    width: 30%;
    background-image: url("img/botella.jpg");
    background-size: cover;
    background-position: center;
}

.pop-img2{
    width: 30%;
    background-image: url("img/organicos.jpg");
    background-size: cover;
    background-position: center;
}

.pop-img3{
    width: 30%;
    background-image: url("img/papel.jpg");
    background-size: cover;
    background-position: center;
}

.container-all:target .popup{
    top: 40%;
    left: 40%;
    transform: rotate(0deg) translate(-25%, -25%);
    visibility: visible;
}

.container-all:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity: 1;
}

.pop-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
}

.pop-text h1{
    font-size: 20px;
    color: black;
}

.pop-text p{
    margin-top: 20px;
    font-size: 16px;
    color: black;
}

.btn-close{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 3px;
}
@media screen and (max-width: 900px) {
    .popup{
        flex-direction: column;
        height: 100%;
        max-height: 40%;
    }
    .pop-img1{
        width: 100%;
        height: 40%;
    }

    .pop-img2{
         width: 100%;
         height: 40%;
     }

    .pop-img3{
        width: 100%;
        height: 40%;
    }

    .pop-text{
        width: 100%;
        height: 60%;
        padding: 80px;
    }
}
.popup li{
    color: black;
    font-size: 16px;
}

.img-text{
    width: 30%;
    background-size: cover;
    background-position: center;
}

