@font-face {
    font-family: "flaticon";
    src: url("../../flaticon/flaticon.ttf?72f487ef62dc46c855dfa6d77cf2d265") format("truetype"),
    url("../../flaticon/flaticon.woff?72f487ef62dc46c855dfa6d77cf2d265") format("woff"),
    url("../../flaticon/flaticon.woff2?72f487ef62dc46c855dfa6d77cf2d265") format("woff2"),
    url("../../flaticon/flaticon.eot?72f487ef62dc46c855dfa6d77cf2d265#iefix") format("embedded-opentype"),
    url("../../flaticon/flaticon.svg?72f487ef62dc46c855dfa6d77cf2d265#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-botella-de-plstico:before {
    content: "\f101";
}
.flaticon-caja-de-carton:before {
    content: "\f102";
}
.flaticon-engranaje:before {
    content: "\f103";
}
.flaticon-lentes:before {
    content: "\f104";
}
.flaticon-papel:before {
    content: "\f105";
}
